$default-transition(duration)
	-webkit-transition: all duration cubic-bezier(0.19, 1, 0.22, 1)
	transition: all duration cubic-bezier(0.19, 1, 0.22, 1)

// The transition uses a different easing
$default-color-transition(duration)
	-webkit-transition: all duration ease-out
	transition: all duration ease-out

selectable(mode)
	-webkit-touch-callout: mode
	-webkit-user-select: mode
	-khtml-user-select: mode
	-moz-user-select: mode
	-ms-user-select: mode
	user-select: mode
